{% extends "base.html" %} 

{% block meta %}

{% load static %}
<link href="{% static 'css/loginform.css' %}" rel="stylesheet">
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %} 
    <h2 class="big-text poppins">Hello, me!</h2>
    <div class="login-container translated">
        <h2 class="mid-text">What do I have in mind?</h2>

        <form method="POST" action="{% url 'createBlog' %}">
            {% csrf_token %} 
            <ul>
                <li>
                    <label for="{{form.title.id_for_label}}">Title</label>
                    <div>
                        {{ form.title }}
                    </div>
                </li>
                <li>
                    <label for="{{form.content.id_for_label}}">What do I think?</label>
                    <div>
                        {{ form.content }}
                    </div>
                </li>
            </ul>

            <button type="submit" class="button button--eton">Post it!</button>
        </form>
    </div>
{% endblock %}