.post-content {
    padding: 2rem 4rem;
}

.chevron {
    background: var(--thistle);

    transform: translateY(25%);
    height: 5vh;
    margin: 0;
    -webkit-clip-path: polygon(27% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(27% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.comments {
    background: var(--thistle);
    min-height: 70vh;

    padding: 0 2rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form-div {
    background: var(--thistle);
    padding: 2rem 2rem 0 2rem;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.card--comment {
    background: var(--beige);   
    margin: 0 0 1rem 0;

    padding: 1rem;
    border-radius: 1.1rem;

    width: 80%;
}
