.blog--card {

    height: clamp(200px, 45vh, 250px);

    border-radius: 1.5rem;

    box-shadow: -2px 10px 18px -4px rgba(107,107,107,0.68);
    margin: 4rem 2rem;
}

.blog-content {
    padding: 1rem;
}

.card--header {
    background: var(--dark-purple);
    color: white;
    margin: 0rem;
    padding: 0rem;

    border-radius: 1.5rem 1.5rem 0 0;

    padding: 0.5rem 1rem;

    
}

.card--body {
    padding: 1rem;

    background: var(--beige);
}