{% extends "base.html" %} 

{% block title %} 
    Login
{% endblock %}

{% block meta %}

{% load static %}
<link href="{% static 'css/loginform.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper-container-login">
        <div class="login-container">
            <h2 class="mid-text poppins">Login</h2>
            <p class="small-text">Welcome back!</p>
            <form method="POST" action="{% url 'login' %}">
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}
                {% csrf_token %}
                {{form.as_ul}}
                <div class="form-below">
                    
                    <a href="/account/signup" class="button button--eton">Sign up</a>
                    <button type="submit" class="button button--ver">Log in</button>
                
                </div>
            </form>
        </div>
    </div>
{% endblock %}