{% extends "base.html" %} 

{% block title %} 
    Signup
{% endblock %}

{% block meta %}

{% load static %}
<link href="{% static 'css/loginform.css' %}" rel="stylesheet">
{% endblock %}

{% block content %} 
<div class="wrapper-container-login">
    <div class="login-container">
        <h2 class="mid-text poppins">Sign up</h2>
        <p class="small-text">Welcome to my blog!</p>
        <form method="POST" action="{% url 'signUp' %}">
            
            {% csrf_token %}

            {{ form.as_ul }}

            <div class="form-below">
                    
                <button type="submit" class="button button--ver">Sign up</button>
                <a href="/account/login" class="button button--eton">Log in</a>
            
            </div>

        </form>
    </div>
</div>
{% endblock %}